.gameBbg{
    overflow: hidden;
}
#wrap {
    height: auto;
}
.track {
    width: 85%;
    height: 60px;
    position: absolute;
    top: 500px;
    left: 5%;
}

.gameB .cat {
    position: relative;
    top: 0px;
    z-index: 20;
}
.drop_bar{
    width: auto;
    display:  block;
    position: relative;
    left:  8%;
    top: 220px;
}
.jar_box{
    max-width: 80px;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    padding-right: 70px;
}
.jars{
}